body{background-color: #ffffff;
  font-family:'Cambria Math','ＭＳ 明朝','MS Mincho','Cochin','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  color: #000000;
  text-align:center}

#title
h1{line-height:0.5}
h1{font-size:17px}
h1{text-align:left;}
h2{line-height:1.0}

h3
{line-height: 1.0;
 font-size: 17px;
 text-align: center;}

h4{line-height: 1.0;
  font-size: 25px;
  text-align: center;}


 h5
 {line-height: 1.0;
  font-size: 17px;
  text-align: center;
  word-spacing: 10px;}
 .box1 {
     padding: 0.5px 1px;
     margin: 0.5px 550px;
     font-weight: bold;
     border: solid 1.5px #000000;
 }
 .box1 p {
     margin: 0px;
     padding: 0px;
 }

h6{ font-size: 10px;
 text-align: center;
 word-spacing: 10px;}
